{% extends "squelette.html" %}

{% block titre %}Page admin{% endblock %}

{% block corps %}
<br>      
<button onclick="location.href='/ajouter'" type="button">Ajouter un article</button>

{% if confirmer is defined and confirmer|length %}
<h4>{{confirmer}}</h4>
{% endif %}

<h1>Liste de tous les articles</h1>

<table style="width:100">
  <tr>
    <th>TITRE</th>
    <th>DATE DE PUBLICATION</th>
    <th>MODIFICATION</th>
  </tr>

{% for article in liste_complete %}
  <tr>
    <td>{{article['titre']}}</td>
    <td>{{article['date_publication']}}</td>
    <td>
      <button onclick="location.href='/modification?id={{article['id']}}'" type="button">MODFIER</button>
    </td>
  </tr>
{% endfor %}
</table>



{% endblock %}
