<!DOCTYPE html>
<html>
    <head>
    {% block header %}
        <meta charset="utf-8" />
        <title>{% block titre %}{% endblock %}</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
    </head>

    <body>
        <button onclick="location.href='/'" type="button">Acceuil</button>
        {% block corps %}{% endblock %}        
        {% block footer %}
        <footer></footer>
        {% endblock %}
    </body>
</html>

